@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

html {
    background-color: #171F2C;
}

#gameMain {
    width: 50%;
    color: #0b7183 !important;
    font-family: Ubuntu;
    font-size: 70px;
    position: absolute;
    left: 22%;
    top: 23%;
    text-align: center;
    line-height: 150%;
    font-weight: bold;
}